  /*--------------------------Carrousel-------------------------------*/
.carrousel-slider {
    position: relative;
    perspective: 1800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 600px;
  }

  .carrousel-slide {
    cursor: pointer;
    height: 600px;
    position: absolute;
    transition: all ease 1000ms;
  }

  .carrousel-focused-slide {
    z-index: 10;
  }

  .carrousel-non-visible-slide {
    position: fixed;
    opacity: 0;
    z-index: 4;
    transform: scale(0.4);
  }

  .carrousel-previous-slide {
    filter: brightness(0.5);
    z-index: 5;
    transform: scale(0.4) rotate3d(0, 1, 0, 60deg) translate(-200%);
  }

  .carrousel-next-slide {
    filter: brightness(0.5);
    z-index: 5;
    transform: scale(0.4) rotate3d(0, 1, 0, -60deg) translate(200%);
  }

  @media (max-width: 768px) {
    .carrousel-slide {
      height: 350px;
    }

    .carrousel-slider {
      height: 350px;
    }

    .carrousel-previous-slide {
      transform: scale(0.4) rotate3d(0, 1, 0, 60deg) translate(-230%);
    }
  
    .carrousel-next-slide {
      transform: scale(0.4) rotate3d(0, 1, 0, -60deg) translate(230%);
    }
  }

  /*--------------------------Banner-------------------------------*/
  .banner-slider {
    width: 100%;
    aspect-ratio: 401/210;
  }

  .banner-slide {
    cursor: pointer;
    position: absolute;
    width: 100%;
    transition: ease-out 600ms;
  }

  .banner-focused-slide {
    z-index: 10;
  }

  .banner-non-visible-slide {
    opacity: 0;
    z-index: 4;
  }

  .banner-previous-slide {
    filter: brightness(0.5);
    z-index: 5;
  }

  .banner-next-slide {
    filter: brightness(0.5);
    z-index: 5;
  }